/*IMPORTAÇÃO DE FONTES*/
@font-face {
    font-family: Quicksand-Light;
    src: url(../fonts/Quicksand-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --color-orange: lch(55.92% 66.82 69.25 / 0.8);
    --color-orange-100: lch(62.31% 90.08 52.36 / 0.4);
    --color-light: lch(96.19% 0.01 296.81);
    --color-dark: lch(13.23% 0 296.81);

    --spacing-md: 3dvh;
    --spacing-sm: 1dvh;
}

html
{
    scroll-behavior: smooth;
    font-family: Quicksand-Light;
}

ul, ol
{
    list-style: none;
}

.hero
{
    min-height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(../images/motos/harley-davidson-BwXsi8tcXlk-unsplash.jpg);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-inline: var(--spacing-md);

    .header-hero
    {
        /*flex-direction: row;*/
        justify-content: space-between;
        align-items: center;
        display: flex;
        min-height: 10dvh;

        h1{
            color: var(--color-light);
        }

        .nav-hero-menu
        {
            display: flex;
            gap: var(--spacing-md);
        }
    }
}

a{
    font-weight: 700;
    text-decoration: none;
    color: var(--color-light);
    
    &:hover
    {
        color: var(--color-orange);
    }
}

.cta
{
    min-height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    color: var(--color-light);
    text-align: center;
    
    h2
    {
        font-size: 5vmax;
        text-wrap: balance;
    }

    p
    {
        width: 60%;
        text-wrap: balance;
        line-height: 1.6;
    }
}

.btn
{
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange-100);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 100px;
    transition: .5s;

    &:hover
    {
        background-color: transparent;
    }
}

.gallery
{
    padding: var(--spacing-md);
    background-color: var(--color-dark);
    color: var(--color-light);

    h2
    {
        margin-bottom: var(--spacing-md);
        font-size: 6vmin;
    }

    .grid-motorcycles
    {
        columns: 3 300px;
        
        img
        {
            width: 100%;
            opacity: .5;
            border-radius: 8px;
            position: relative;
            filter: grayscale(1);
            margin-block: var(--spacing-sm);

            transition: .5s;

            &:hover
            {
                opacity: 1;
                filter: grayscale(0);
                scale: 1.1;
                z-index: 1;
            }
        }
    }
}

section
{
    min-height: 100dvh;
}